spring:
  application:
    name: praticando-rest-com-spring-boot-curso

  datasource:
    url: jdbc:postgresql://localhost:5432/praticando_rest_com_spring_boot_curso
    username: postgres
    password: 220822
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
            spring:

  flyway:
    baseline-on-migrate: true

